# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True

# Database
POSTGRES_DB=secure_dms
POSTGRES_USER=secure_dms
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379/0

# Object Storage
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
MINIO_BUCKET=secure-dms